
/* debug */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid white;
}





body{
 background-color:black;
 color: white;
 font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    
}


/* prima parte */
.container{
    height: 100vh;
    width: 100%;
}

/* main */

.main{
    width: 100%;
    height: calc(100% - 90px);
    background-color: blue;
    display: flex;
    
    
}
main{
    width:calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow-y: auto;
    
}

.main-content{
    height: 100%;
    width: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    padding-top: 120px;
    
}
.main img{
    width: 100%;
}



/* aside */

aside{
    width: 250px;
    background-color: #000000;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    
}



.logo{
    width: 60%;
    padding: 5%;

}

.medium{
    font-size: 1.7em;
    vertical-align: middle;
    
    
}


.big{
    font-size: 2.4em;
    vertical-align: middle;
    
}

aside ul{
    list-style: none;
    padding:5%;
    overflow-y: visible;
}
    
      
 .aside-scroll{
     overflow-y:scroll;
 }   
    

aside ul li a {
    color: #6e7176;
}

aside ul li{
    padding: 5%;
    color:#6e7176;
    vertical-align: middle;
    
    
    
}

aside h3{
    color: white;
}

aside ul li a:hover{ 
    color: white;
    border-left: 1px solid greenyellow;
    line-height: 10px;
    padding-left: 5px;
}


    
    


    
.little-logo{
    display: none;
} 
.user-icon{
    display: none;

}
.user-icon2{
    display: none;
    

}
    
    



.aside-bottom{
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    padding-left: 10%;
    padding-bottom: 3%;
     
}



.divider{
    border-bottom: 1px solid #6e7176;
    color: #d2d2d2;
    padding-bottom: 5%;

}

.divider span:hover{
    color: white;

}


.user{
    padding-top: 5%;
    font-size: 1.3em;
}
/* nav top main */


nav.top{
    width:calc(100% - 250px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    position: fixed;
    right: 0;
}
    
    
    
.flex-container1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.search.flex-container1{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    flex: 0 1 50%;
}

.button{
    flex: 0 1 50%;
}
  


/* section main */


    

 
    
      
      
      
      
      




/* footer */
.flex-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}


footer{
    height: 90px;
    width: 100%;
    background-color:#282828 ;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}


.icon-music img{
    width: 30px;
    height: 30px;
}

   
.left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
    margin-left: 1em;

}
.song-infos{
    display: flex;
    align-items: center;
    gap: 1em;
}

.song-description p{
    margin: 0.2em;
}
.title, .artist{
    vertical-align: middle;

}

.title{
    font-size: 1em;
    color: #6e7176;
}

.title:hover{
    text-decoration: underline;
}

.icons{
    display: flex;
    gap: 1em;
}


.center{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;

}


.play-pause{
    display: inline-block;
    padding: 0.5em;
    background-color:black;
    color: #d2d2d2;
    border-radius: 50%;
}

.play-pause:hover{
    transform: scale(1.1);
    color: white;
}

.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 1em;
}

.progress-bar{
    height: 4px;
    border-radius:10px;
    width: 30%;
    background-color: #6e7176;
}
.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: white;
}
.progress-bar:hover .progress{
    background-color: green;
}

.progress-bar:hover .progress::after{
    content: '';
    position: absolute;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    transform: translate(50%, calc(2px - 50%));

}

.right{
    
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-right: 1em;
    

}

.volume-bar{
    display: flex;
    align-items: center;
    gap:0.7em ;
}

.volume-bar .progress-bar{
    width: 6em;
}

i{
    color: #6e7176;
}

i:hover{
    color: white;
}





  
    


    
    
    
    








    
    
    
    
    
    






 
 



    
    
    
    

    
    



