@media screen and (max-width:768px) and (min-width:421px){
    .card{
        flex:0 1 calc((100% / 2) - 10px);
        
    }
    .content{
        flex-wrap:wrap;
    }
    
    .button {
        border: 1px solid #6e7176;
        border-radius: 40px;
        padding: 10px;
        width: 50%;
        text-align: center;
        align-self: flex-end;
        margin-right: 6%;
        position: absolute;
        right: 0;
        bottom: 30%;

    }
    .overlay-text{
        margin: 3em;
    }


    

    }
        
        
        
   